<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="sidik.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="sidik">
          <match url="/*" />
          <action type="Rewrite" url="sidik.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode watchedFiles="*.js;controllers\*.js;routes\*.js;compute\*.js;node_modules\*"/>
  </system.webServer>
</configuration>
